<div class="featured-content featured-content-buttons">
	<div class="container">
		<div class="outer">
			<div class="row">
				<div class="cta-col col-md-4">
					<a class="btn btn-featured" data-lfr-editable-id="featured-link1" data-lfr-editable-type="link" href="#" target="_blank">
						Link text goes here
					</a>
				</div>
				<div class="cta-col col-md-4">
					<a class="btn btn-featured" data-lfr-editable-id="featured-link2" data-lfr-editable-type="link" href="#" target="_blank">
						Link text goes here
					</a>
				</div>
				<div class="cta-col col-md-4">
					<a class="btn btn-featured" data-lfr-editable-id="featured-link3" data-lfr-editable-type="link" href="#" target="_blank">
						Link text goes here
					</a>
				</div>
				<div class="cta-col col-md-4">
					<a class="btn btn-featured" data-lfr-editable-id="featured-link4" data-lfr-editable-type="link" href="#" target="_blank">
						Link text goes here
					</a>
				</div>
				<div class="cta-col col-md-4">
					<a class="btn btn-featured" data-lfr-editable-id="featured-link5" data-lfr-editable-type="link" href="#" target="_blank">
						Link text goes here
					</a>
				</div>
				<div class="cta-col col-md-4">
					<a class="btn btn-featured" data-lfr-editable-id="featured-link6" data-lfr-editable-type="link" href="#" target="_blank">
						Link text goes here
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
