.container-table{

	.management-bar{
		.navbar-nav{
			.custom-checkbox{
				.custom-control-label-text{
					    visibility: hidden;
				}
			}
		}
	}
	.table-autofit{
		tr.info td{
			background-color: #f0f5ff;
		}
		td, th {
    		width: auto;
    	}
    	th.lfr-checkbox-column, 
		td.lfr-checkbox-column {
		    padding-right: 0;
		    vertical-align: bottom;
		}
	}
	
}