<div class="component-button pb-${configuration.bottomSpacing} text-${configuration.buttonAlign} text-break">
	<lfr-editable id="link" type="link">
		<a class="btn btn-${configuration.buttonSize} btn-${configuration.buttonType}" href="" id="fragment-${fragmentEntryLinkNamespace}-link" aria-description="${configuration.buttonDescription}">Accessible Button</a>
	</lfr-editable>
</div>
