<div class="guide_navigation">
	<div class="container">
		[#if request.getAttribute("LIFERAY_SHARED_LAYOUT_ASSET_ENTRY")??]
			[#assign journalArticleLocalService = serviceLocator.findService("com.liferay.journal.service.JournalArticleLocalService") ]
			[#assign resourcePrimKey = request.getAttribute("LIFERAY_SHARED_LAYOUT_ASSET_ENTRY").getClassPK() ]

			[#assign version = getterUtil.getDouble(request.getParameter('version')) ]

			[#if version > 0 ]
				[#assign journalArticleLatest = journalArticleLocalService.fetchLatestArticle(resourcePrimKey, digitalplace_workflowStatusAny) ]
				[#assign journalArticle = journalArticleLocalService.fetchArticle(journalArticleLatest.getGroupId(), journalArticleLatest.getArticleId(), version) ]
			[#else]
				[#assign journalArticle = journalArticleLocalService.fetchLatestArticle(resourcePrimKey, digitalplace_workflowStatusApproved) ]
			[/#if]

			[@liferay_journal["journal-article"]
				article=journalArticle
				ddmTemplateKey="GLOBAL-GUIDE-NAVIGATION"
			/]
		[#else]
			[@liferay.language key="guide-navigation-page-builder-message" /]
		[/#if]
	</div>
</div>