<div class="featured-content featured-content-hero-banner">
	<div class="hero-image" data-lfr-background-image-id="featured-content-hero-banner">
		<div class="container">
			<div class="hero-panel">
				<div class="col">
					<h1>
						<lfr-editable id="01-title" type="text">
							Digital Place
						</lfr-editable>
					</h1>
				</div>
				<div class="outer">
					<div class="row">
					</div>
					<div class="row">
						<div class="cta-col col-md-4">
							<lfr-editable id="featured-link1" type="link" class="featured-link-wrapper">
								<a class="btn btn-featured" href="#">Link text goes here</a>
							</lfr-editable>
						</div>
						<div class="cta-col col-md-4">
							<lfr-editable id="featured-link2" type="link" class="featured-link-wrapper">
								<a class="btn btn-featured" href="#">Link text goes here</a>
							</lfr-editable>
						</div>
						<div class="cta-col col-md-4">
							<lfr-editable id="featured-link3" type="link" class="featured-link-wrapper">
								<a class="btn btn-featured" href="#">Link text goes here</a>
							</lfr-editable>
						</div>
						<div class="cta-col col-md-4">
							<lfr-editable id="featured-link4" type="link" class="featured-link-wrapper">
								<a class="btn btn-featured" href="#">Link text goes here</a>
							</lfr-editable>
						</div>
						<div class="cta-col col-md-4">
							<lfr-editable id="featured-link5" type="link" class="featured-link-wrapper">
								<a class="btn btn-featured" href="#">Link text goes here</a>
							</lfr-editable>
						</div>
						<div class="cta-col col-md-4">
							<lfr-editable id="featured-link6" type="link" class="featured-link-wrapper">
								<a class="btn btn-featured" href="#">Link text goes here</a>
							</lfr-editable>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
