<div class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<lfr-widget-navigation-breadcrumb/>

			</div>
		</div>

		[#if "asset_display"?matches(layout.getType()) && pageTitle?has_content]
			[#assign page_title = pageTitle]
		[#else]
			[#assign page_title = layout.getTitle(locale)]
		[/#if]

		[#if page_title?has_content]
			[#assign page_header_title = page_title/]
		[#else]
			[#assign page_header_title = layout.getName(locale)/]
		[/#if]

		<div class="row">
			<div class="col-md-8">
				<h1 class="page-title">${page_header_title}</h1>
			</div>

			<div class="col-md-4 col-search-bar">

				[#assign
					searchBarPreferences = freeMarkerPortletPreferences.getPreferences("destination", "/search")
				/]

				[@liferay_portlet["runtime"]
					instanceId="pageHeader"
					defaultPreferences = "${searchBarPreferences}"
					portletName = "com_liferay_portal_search_web_search_bar_portlet_SearchBarPortlet"
				/]

			</div>
		</div>

	</div>
</div>
