[#assign borderRadius = "0" /]

[#if configuration.borderRadius == "sm"]
	[#assign borderRadius = "0.1875rem" /]
[#elseif configuration.borderRadius == "lg"]
	[#assign borderRadius = "0.375rem" /]
[/#if]

<div class="image-card component-card pb-${configuration.bottomSpacing} text-${configuration.contentAlign} text-break">
	<div class="card m-0 overflow-hidden shadow-${configuration.boxShadow}" style="border-radius: ${borderRadius}">
		<lfr-editable id="01-img" type="image">
			<img alt="Responsive Image" class="${configuration.imageSize}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAJCAYAAAA7KqwyAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAkSURBVHgB7cxBEQAACAIwtH8Pzw52kxD8OBZgNXsPQUOUwCIgAz0DHTyygaAAAAAASUVORK5CYII=" style="border-top-left-radius: ${borderRadius}; border-top-right-radius: ${borderRadius}" />
		</lfr-editable>

		<div class="card-body py-4">
			<h3>
				<lfr-editable id="02-title" type="link">
					<a class="link" href="" id="fragment-${fragmentEntryLinkNamespace}-02-title">Card Title Example</a>
				</lfr-editable>
			</h3>
		</div>
	</div>
</div>
