<div class="gds-phase-banner">
  <div class="container">
  	<div class="govuk-phase-banner col-md-12">
  	  <p class="govuk-phase-banner__content">
  	    <strong class="govuk-tag govuk-phase-banner__content__tag">
  	      beta
  	    </strong>
  	    <span class="govuk-phase-banner__text">
  	      This is a new service – your <a class="govuk-link" href="/feedback">feedback</a> will help us to improve it.
  	    </span>
  	  </p>
  	</div>
  </div>
</div>
